<!-- 

<form>
    <h3  style="text-align:center;font-weight: 700;"> UserLogin </h3>
    <br/>
    <div class="form-group col-md-3" style="margin-left: 550px;">
      <label for="inputEmail4" >Username</label>
      <br/>
      <br/>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Username" [(ngModel)]="username" name="username">
      <br/>
      <br/>
      <label for="inputEmail4" >Password</label>
      <br/>
      <br/>
      <input type="email" class="form-control" id="inputEmail4" placeholder="password" [(ngModel)]="password" name="password">
      <br/>
      <br/>
      <button class="btn btn-primary"  style="margin-left: 55px;" (click)="login()" > Login </button>
    </div>
  </form> -->
  <div id="body">
<h3  style="text-align:center;font-size: 20px;"> UserLogin </h3>
<br/>
<br/>
<br/>
<div id="cont">
  <div class="Login">
  <label style="margin-left:50px;"> Username </label>
  <br/>
  <br/>
  <input placeholder="username" [(ngModel)]="username">
  <br/>
  <br/>
  <label style="margin-left: 50px;"> password </label>
  <br/>
  <br/>
  <input placeholder="password" [(ngModel)]="password">
  <br/>
  <br/>
</div>
</div>
</div>
